extends ../../layouts/layout.pug

block head
  title Colors & Type
block content
  .block
    .colors
      each color in squaresColored
        .block-color
          .color-square(class=color.class)
          p
            b= color.name
            br
            span= color.hex
    .types
      each type in types
        .block-type
          #{type.tag}(class="title")= type.name
          #{type.tag}(class="text")= type.example