mixin inputField(type="email", name="email", placeholder="Email", required=false, labelName="Text Field")
  .form-group
    label.form-label #{labelName}
    input.field-container(type=type, name=name, placeholder=placeholder, required=required)

mixin selectDropdown(name, labelName="Dropdown", options, first, second, third)
  .form-group
    .form-label #{labelName}
    .field-container(name=name)
      .dropdown-field(data-value=options) #{options}
      button.dropdown-icon
        //- img(src="/assets/images/expand_more.jpg")
        img(src=require("../assets/images/expand_more.jpg"))
      .dropdown-menu
        +selectOption("first", first)
        +selectOption("second", second)
        +selectOption("third", third)


