mixin inputField(type="email", name="email", placeholder="Email", required=false, textField="Text Field")
  .form-group
    label.form-label #{textField}
    input.border-field(type=type, name=name, placeholder=placeholder, required=required)

mixin selectDropdown(name, textField="Dropdown", options, first, second, third)
  .form-group
    label.form-label #{textField}
    select.select-field(name, required=true)
      option.hidden-option(disabled selected) #{options}
      +selectOption("first", first)
      +selectOption("second", second)
      +selectOption("third", third)
