mixin inputFields(type="email", name="email", placeholder="Email", required=false, textField="Text Field")
  .form-group
    label.form-label #{textField}
    input.border-field(type=type, name=name, placeholder=placeholder, required=required)
